{% extends 'base.html' %}
{% load humanize %}
{% block title %}Lista de produtos{% endblock %}
{% block content %}
<div class="container-lg overflow-hidden text-center bg-light p-5 rounded-3">
    <div class="row gy-5">
        <div class="row p-5">
            <div class="col-md-6 text-center mb-2">
                <h4>Lista de Produtos</h4>
            </div>
            <div class="col-md-6 text-end mb-2">
                <a href="{% url 'produto_novo' %}" class="btn btn-success">
                    <i class="bi bi-plus-square"></i>&nbsp; Novo Produto
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-4 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                        Quando a paginacao está ativa o Django cria um objeto page_obj que contem os itens da pagina atual
                        Esse objeto representa o model informado na view
                     -->
                    {% for produto in page_obj %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <!--  forma o valor numerico conforme a localidade  -->
                        <td>R$ {{ produto.preco|intcomma }}</td>
                        <td>
                            <a href="{% url 'produto_editar' produto.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="{% url 'produto_deletar' produto.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash3" title="Remover"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum produto encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm justify-content-end">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </span>
                            </li>
                        {% endif %}
                        {% for num in paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}